{%- style -%}
  table {
    width: 100%;
    border-collapse: collapse; /* Elimina el espacio entre celdas */
  }

  .comparison-table {

    border-radius: 20px;
    border: 1px solid #1050a8;
    max-width: 600px;
    margin: auto;
    color: black;
    border-radius: 10px;
    padding: 20px;
    margin:2rem;
  }

  .table-header {
  }

  .table-header img {
    width: 120px;
  }


  @media screen and (max-width: 550px) {
      .table-header img {
    width: 90px;
  }
  }
  .product-name, .other-product-name {
    text-align: center;
  }

  h2 {
    font-size: 18px;
    font-weight: 700;
  }

  .comparison-row {
    border-top: 1px solid rgba(0, 0, 0, 0.2); /* Agrega borde superior solo en las filas */
  }



  .feature, .feature-status {
    text-align: left;
    font-size: 16px;
    padding: 10px;
  }

  .feature-status {
    text-align: center;
  }

  /* Asegúrate de que no haya bordes en las celdas */
  td, th {
    border: none; /* Elimina cualquier borde en celdas y encabezados */
  }

  .icon {
    width: 24px;
    height: 24px;
  }
{%- endstyle -%}
<div class="page-width">
  <div class="comparison-table">
    <table>
      <thead class="table-header">
        <tr>
          <th></th>
          <th class="product-name">
            {%- if section.settings.logo != blank -%}
              {%- assign logo_widths = '160, 240, 320, 480, 640' -%}
              {%- capture logo_sizes -%}
              (min-width: 750px) 200px,
              (min-width: 500px) 120px,
              120px
            {%- endcapture -%}
              <img
                src="{{ section.settings.logo | image_url: width: 640 }}"
                sizes="{{ logo_sizes }}"
                srcset="{{ section.settings.logo | image_url: width: 120 }} 120w, {{ section.settings.logo | image_url: width: 160 }} 160w, {{ section.settings.logo | image_url: width: 240 }} 240w, {{ section.settings.logo | image_url: width: 320 }} 320w, {{ section.settings.logo | image_url: width: 480 }} 480w, {{ section.settings.logo | image_url: width: 640 }} 640w"
                alt="Logo"
                class="logo"
              >
            {%- else -%}
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </th>
          <th class="other-product-name">
            <p>
              <b>{{ section.settings.other_product_name }}</b>
            </p>
          </th>
        </tr>
      </thead>
      <tbody>
        {%- for feature in section.blocks -%}
          <tr class="comparison-row">
            <td class="feature">
              <b>{{ feature.settings.feature_name }}</b>
            </td>
            <td class="feature-status">
              {%- if section.settings.icon_check != blank -%}
                <img src="{{ section.settings.icon_check | image_url: width: 24 }}" alt="Check" class="icon">
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            </td>
            <td class="feature-status">
              {%- if section.settings.icon_x != blank -%}
                <img src="{{ section.settings.icon_x | image_url: width: 24 }}" alt="X" class="icon">
              {%- else -%}
                {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
            </td>
          </tr>
        {%- endfor -%}
      </tbody>
    </table>
  </div>
</div>

{% schema %}
{
  "name": "Comparison Table",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "text",
      "id": "other_product_name",
      "label": "Other Product Name",
      "default": "Other Headlamps"
    },
    {
      "type": "image_picker",
      "id": "icon_check",
      "label": "Icon Check"
    },
    {
      "type": "image_picker",
      "id": "icon_x",
      "label": "Icon X"
    }
  ],
  "blocks": [
    {
      "type": "comparison_row",
      "name": "Comparison Row",
      "settings": [
        {
          "type": "text",
          "id": "feature_name",
          "label": "Feature Name",
          "default": "Feature"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Custom"
    }
  ]
}
{% endschema %}
